image: docker:24

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

stages:
  - test
  - build
  - deploy

before_script:
  - apk add --no-cache aws-cli

test:
    stage: test
    script:
        - chmod +x mvnw
        - ./mvnw -q test

build:
  stage: build
  script:
    - ./mvnw clean package -q -DskipTests
    - docker build -t $ECR_REPO:$IMAGE_TAG .
    - aws ecr get-login-password --region $AWS_REGION |
      docker login --username AWS --password-stdin \
      $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com
    - docker tag $ECR_REPO:$IMAGE_TAG \
      $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:$IMAGE_TAG
    - docker push \
      $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:$IMAGE_TAG

deploy:
  stage: deploy
  script:
    - aws ecs update-service \
        --cluster $ECS_CLUSTER \
        --service $ECS_SERVICE \
        --force-new-deployment
